#stim1 {
	width: 15vw;
	height: 15vw;
	background: orange;
	position: absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%);
}

#stim2 {
	width: 15vw;
	height: 15vw;
	background: DodgerBlue;
	position: absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%);
}

#stim1-responded{
	width: 15vw;
	height: 15vw;
	background: orange;
	position: absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%);
    -moz-box-shadow:    inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow:         inset 0 0 40px #000000;
}

#stim2-responded{
	width: 15vw;
	height: 15vw;
	background: DodgerBlue;
	position: absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%);
    -moz-box-shadow:    inset 0 0 40px #000000;
    -webkit-box-shadow: inset 0 0 40px #000000;
    box-shadow:         inset 0 0 40px #000000;
}